* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  --content-max-width: 65rem;
  --content-min-width: 20rem;
}

button {
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-img {
  background-image: url("images/mobile/image-hero.jpg");
  background-color: black; /* used as fallback; recommended as best practice by mdn */
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: var(--content-max-width);
  min-width: var(--content-min-width);
  margin: 0 auto;
  padding-top: 3rem;
}

.desktop-nav {
  display: none;
  font-size: 15px;
  font-family: "Alata", sans-serif;
}

.desktop-nav ul {
  display: flex;
  flex-direction: row;
  color: white;
}

.desktop-nav li {
  padding: 1rem;
}

.desktop-nav li:first-child {
  padding-left: 0;
}

.desktop-nav li:last-child {
  padding-right: 0;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: var(--content-max-width);
  min-width: var(--content-min-width);
  height: 70vh;
  max-height: 32rem;
  min-height: 16rem;
  margin: 0 auto;
}

.hero-copy {
  width: min-content;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  padding: 1.5rem;
  border: 2px solid white;
}

@media only screen and (min-width: 40rem) {
  .hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("images/desktop/image-hero.jpg");
    background-position: center;
  }

  .desktop-nav {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .hero-section {
    justify-content: start;
  }

  .hero-copy {
    width: auto;
    max-width: 37rem;
    padding: 2rem 2.5rem;
    font-size: 4rem;
  }
}
